*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a{
    text-decoration: none;
    color: black;
}

header{
    /* padding: 10px 20px; */
    background-image: url(../img/jumbo.png);
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

header nav{
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;
}

header nav figure,
header nav ul,
header nav a{
    /* background-color: lightgoldenrodyellow;
    border: 1px dashed black; */
    
}

header nav ul{
    display: flex;
    gap: 20px;
    color: white;
}

header nav ul li{
    /* display: inline-block; */

    list-style-type: none;
}

header nav #right-button{
    background-color: white;
    padding: 1%;
    border-radius: 4em / 5em;
}

#cta{
    /* background-color: lightpink; */
    color: white;
    width: 60%;
    margin: 50px auto 0 auto;
    text-align: center;
}

#cta h2{
    font-size: 30px;
    margin-bottom: 20px;

}

#cta p{
    font-size: 20px;
    margin-bottom: 20px;

}

#cta-buttons{
    display: flex;
    justify-content: center;
    gap: 10%;
}

#cta .button{
    min-width: 30%;
    padding: 20px;
    border-radius:  4em / 5em;
}

#cta #left-button{
    background-color: white;
    color: black;
}

#cta #right-button{
    background-color: black;
}

.container{
    width: 80%;
    margin: 0 auto;
}

section{
    /* display: flex; */
    /* border: 1px dashed black; */
    padding-block: 20px;
    /* background-color: black; */
}


section figure img{
    max-width: 100%;
}

.section-text{
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

section .section-text h3{
    line-height: 120%;
    font-size: 120%;
}

.section-text p{
    font-size: 120%;
    line-height: 120%;
}

section .img-text{
    display: flex;
    align-items: center;
}

section .img-text figure{
    flex-basis: 70%;
}

section .img-text .section-text{
    flex-basis: 30%;
}

section.discord-services:nth-child(even){
    background-color: lightgrey;

}

section.discord-services:nth-child(even) .img-text figure{
    order: 1;
}

.discord-services{
     padding-block: 50px;
}

.container-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;

}

.container-bottom h3{
    
    font-size: 180%;
 
}

.container-bottom p{
    
    font-size: 120%;
    line-height: 120%;
    text-align: center;
}

#img-baseline{
    width: 80%;
}

.container-bottom h5{
    min-height: 40px;
    min-width: 300px;
    font-size: 150%;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.container-bottom span{
    background-color: #8fa0e1;
    font-size: 130%;
    color: white;
    min-width: 20%;
    padding: 2%;
    border-radius: 4em / 5em;
    text-align: center;
}

footer{
    background-color: #23272a;
    color: white;
    padding: 20px;
}

footer ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

footer ul li{
    list-style-type: none;
    
}


footer h4{
    color: #7189DA;
    font-size: 120%;
    max-width: 100px;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap:10px;
}

footer .container{
    display: flex;
    /* justify-content: space-between; */
}

footer #aside{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

#ita{
    height: 5%;
    width: 5%;
}

footer .container > div{
    flex-grow: 1;
}

footer .container>div:first-child{
    flex-grow: 2;
}

footer .footer-login{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

footer .footer-login a{
    text-decoration: none;
    color: white;
    background-color:#8fa0e1 ;
    min-width: 15%;
    padding: 1%;
    border-radius: 4em / 5em;
    text-align: center;
}